.title {
  font-size: 28px;
  font-weight: 700;
  font-family: Roboto;
}

.introduction {
  color: #505050;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
